<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KRA-Services</title>
</head>
<body>
     <a href="/">Kenya Revenue Authority</a>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{ message }}
    </div>
    {% endfor %}
    <h3>Welcome to KRA Itax website. Tulipe ushuru tujitegemee</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{username}}</h3>
    <h4>You have successfully logged in </h4>
    <button type="submit"><a href="/sign-out">sign-out</a></button>
    {% endif %}
    <h5>Don't have a pin? <a href="pin-generator">Click here</a></h5>
     <br>
    <h6><a href="services">Proceed</a></h6>
</body>
</html>