<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <style>
        form {
        background color: red;
        }
        body {
        padding:30px;
        }
    </style>
</head>
<body>
    <a href="/">Kenya Revenue Authority</a>
    <form method="post" action="/signup">
        {% csrf_token %}

        <label> Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <br>
        <label> First name</label>
        <input type="text" id="first" name="first" placeholder="first name" required>
        <br>
        <label> Second name</label>
        <input type="text" id="second" name="second" placeholder="Second name" required>
        <br>
        <label> Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <br>
        <label> Date of birth</label>
        <input type="date" id="DOB" name="DOB" placeholder="DOB" required max="2023" min="1970">
        <br>
        <label> Date of birth number</label>
        <input type="number" id="DOB-number" name="DOB-number" placeholder="DOB-number" required max="9999999999999" min="0">
        <br>
        <label> ID number</label>
        <input type="number" id="id" name="id" placeholder="ID number" required max="999999999" min="0">
        <br>
        <label> Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Password" required>
        <br>
        <label> Confirm</label>
        <input type="password" id="pass2" name="pass2" placeholder="Password" required>
        <br>
        <button type="submit">Submit</button>
        <br>
        <button type="reset">Reset</button>
        <br>
    </form>

</body>
</html>